.map-component-container {
  flex-grow: 1;
  max-height: 100%;
}

.loading-spinner {
  margin-top: 1rem;
  height: auto  ;
}

.map-container {
  width: 100%;
  height: 40%;
  margin-top: 15px;
}

.colonies-cats-containers {
  display: flex;
}

.colonies-container-full {
  width: fit-content;
  max-height: 56vh;
}

.colonies-container-full > div.search-and-create {
  padding: 0;
}

.colonies-search-and-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.colonies-search-and-list > h1, p.no-users {
  margin-left: 2rem;
}

.colonies-search-and-list > .search-and-create > input {
  font-size: 1.25rem;
  align-self: center;
}

.colonies-list {
  padding-left: 0;
  overflow-y: auto;
  margin-bottom: 0;
  height: 100%;
}

.individual-colony {
  height: 100px;
  padding-left: 2rem;
  border: 1px solid rgba(235, 235, 235, 0.9);
  border-right: none;
  border-left: none;
  cursor: pointer;
}

.colonies-container-full {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.colony-detailed {
  width: 20%;
  margin-left: 2rem;
  margin-right: auto;
}

.leaflet-pane.leaflet-map-pane {
  z-index: 100;
}
.leaflet-pane.leaflet-tile-pane {
  z-index: 50;
}

.leaflet-pane.leaflet-overlay-pane {
  z-index: 100;
}

.leaflet-pane.leaflet-shadow-pane {
  z-index: 125;
}

.leaflet-pane.leaflet-tooltip-pane {
  z-index: 150;
}

.leaflet-pane.leaflet-popup-pane {
  z-index: 175;
}

.checkmark-label {
  font-size: 1rem;
  margin-top: 0;
}

.checkmark-container {
  display: flex;
  align-items: center;
}

.label-radius {
  margin-top: 2rem !important;
}

.individual-cat {
  cursor: pointer;
}

.cat-detailed {
  margin-left: 1rem;
  margin-right: auto;
}