.task-detailed {
  width: 30%;
  padding: 4rem 0.5rem;
  margin-left: 2rem;
  margin-right: auto;
}

.task-detailed > h1 {
  margin-bottom: 3rem;
}

.task-detailed > p {
  margin-bottom: 3rem;
}

.task-detailed > section > p {
  margin-bottom: 3rem;
}